@inject AppState State

@if (State.SelectedMeetup == null)
{
    <p><em>Please select a meetup...</em></p>
}
else
{
    <h4>@State.SelectedMeetup.Name</h4>

    <UserList Items="@State.Users">
        <ActionTemplate>
            <AttendanceStatus CurrentUser="context" />
        </ActionTemplate>
    </UserList>
}

@functions{

    protected override void OnInit() => State.OnSelectedMeetupChanged += StateHasChanged;

    protected override async Task OnInitAsync()
    {
        State.OnSelectedMeetupChanged += StateHasChanged;
        await State.LoadUsers();
    }
}